<!DOCTYPE html>
<html ng-app="FamilyEditor">
<head>
	<meta charset="UTF-8">
	<title>Family Editor</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.min.css">

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-route.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap.min.js"></script>

	<script src="/js/app.js"></script>

	<style>
		.wrapper {
			margin: 20px;
		}

		.family-list {
			display: flex;
			width: 10000px;
			overflow: scroll;
		}

		.list {
			width: 260px;
			margin-left: 10px;
			border-radius: 3px;
			/*font-size: 18px;*/
			padding: 10px;
		}

		.list-item {
			background-color: white;
			text-align: center;
		}

		.add-btn {
			width: 100%;
		}

		.controll {
			padding: 0px;
		}

		.members {
			height: 650px;
			overflow-y: scroll;
			padding: 10px;
		}

		.edit-controlls {
			color: grey;
			font-size: 11px;
		}

		.well.list-item.ng-scope:hover {
			border: 1px solid blue;
		}



		* {
		  box-sizing: border-box;  
		}

		.tree-row {
			display: flex;
  			flex-wrap: wrap;
		}

		.tree-branch {
			flex: 1;
			min-width: 5%;
		}
	</style>
</head>
<body ng-controller="AppController as appCtrl" ng-init="appCtrl.init()">
	<div class="wrapper">

		<div ng-controller="SearchController as search">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">
							<h4>Family Editor</h4>
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<form class="navbar-form navbar-left" role="search" ng-submit="search.find()">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search" ng-model="search.query">
							</div>
							<button type="submit" class="btn btn-default">Поиск</button>
						</form>
					</div><!-- /.navbar-collapse -->

				</div>
			</nav>

			<div id="search-result" ng-show="search.data.length > 0">
				<legend>
					Результаты поиска
					<div class="pull-right">
						<a href="#" class="edit-controlls" ng-click="search.data = []">Скрыть</a>
					</div>
				</legend> 

				<div class="well list-item" ng-repeat="searchResult in search.data">
					<member-card ng-controller="MemberController as member" ng-init="member.init(searchResult.id)"></member-card>
				</div>
				<legend></legend>
			</div>
		</div>

		<div class="row family-list" ng-controller="FamilyListController as families" ng-init="families.init()">
			<div class="well list" ng-repeat="family in families.data">
				<legend ng-controller="EditFamilyListController as editFamilyList">
					{{family.name || 'Новая семья'}}
					<p class="pull-right edit-controlls">
						<!-- Button trigger modal -->
						<a href="#" ng-click="editFamilyList.show = !editFamilyList.show">edit</a> |
						<a href="#" ng-click="families.delete(family.id)">delete</a>
					</p>

					<div class="edit-family-list" ng-show="editFamilyList.show">
						<form class="form-inline" ng-submit="editFamilyList.update(family.id, family.name)">
							<div class="form-group">
								<input type="text" placeholder="placeholder" class="form-control input-sm" required="" ng-model="family.name">
							</div>
							<button class="btn btn-sm" type="submit">Сохранить</button>
						</form>
					</div>
				</legend>

				<div class="members">
					<div class="well list-item" ng-repeat="familyMembers in family.members">
						<member-card ng-controller="MemberController as member" ng-init="member.init(familyMembers.id)"></member-card>					
					</div>
				</div>

				<button class="btn btn-sm add-btn" ng-click="families.addMember(family.id);">Добавить члена семьи</button>
			</div>
			<div class="list controll">
				<button class="btn btn-sm add-btn" ng-click="families.addFamily()">Добавить семью</button>
			</div>
		</div>

		
		<div ng-controller="TreeController as tree" ng-show="tree.show">
			<legend>Tree</legend>
			<div class="well">				
				<div class="tree-row" ng-repeat="treeData in tree.data">
					<div ng-if="!treeData.length" class="well list-item tree-branch" ng-if="!treeData.length">
						<member-card ng-controller="MemberController as member" ng-init="member.init(treeData.id)"></member-card>
					</div>
					<div ng-if="treeData.length" class="well list-item tree-branch" ng-repeat="branchData in treeData">
						<member-card ng-controller="MemberController as member" ng-init="member.init(branchData.id)"></member-card>
					</div>
					</div>
				</div>
				

			</div>
		</div>

	</div>
</body>
</html>